<!-- 

    File name: contact.ejs
    Created By: Samridhi Bindal
    Student ID: 301172178
    Created on: 13 February, 2021

-->

<!-- Contact Section -->

<% if (title == "Contact"){ %>
    <!--Section: Contact v.1-->
    <section class="section pb-5">
    
      <h1>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</h1>
    
      <div class="row">
    
        <!--Grid column-->
        <div class="col-lg-5">
          <form method="POST">
              <fieldset>
                  <h1 class="display-4">
                      <%= title %>
                  </h1>
                  <div class="form-group">
                      
                      <input class="form-control" id="userFirstName" name="userFirstName"
                          aria-describedby="User First Name" placeholder="Enter Your First Name">
                  </div>
                  <div class="form-group">
                     
                      <input class="form-control" id="userLastName" name="userLastName"
                          aria-describedby="User Last Name" placeholder="Enter Your Last Name">
                  </div>
                  <div class="form-group">
                      
                      <input class="form-control" id="userContactNumber" name="userContactNumber"
                          aria-describedby="User Contact Number" placeholder="Enter Your Contact Number">
                  </div>
                  <div class="form-group">
                     
                      <input type="email" class="form-control" id="userEmailId" name="userEmailId"
                          aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">Your Email is secure with us!</small>
                  </div>
                  <div class="form-group">
                     
                      <textarea class="form-control" id="userMessage" name="userMessage"
                          rows="3"></textarea>
                  </div>
                  <!-- Button trigger modal -->
                  <button type="submit" value="Submit" class="btn btn-primary">Submit</button>

              </fieldset>
              <div><br></div>
          </form>
      </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-lg-7 text-center">
    
          <!--Google map-->
          <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 350px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13786.753470254893!2d75.8434892!3d30.2459621!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d578d3ead2eac4d!2sDaffodils%20Punjabi%20Suits!5e0!3m2!1sen!2sin!4v1613329572575!5m2!1sen!2sin"
             width="600" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
    
          
          <!-- Text icons -->
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
              <p class="pt-2">SCO 58, New Quilla Market,Sangrur,Punjab</p>
              <p>India</p>
            </div>
    
            <div class="col-md-4">
              <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
              <p class="pt-2" >+ 91 8288804644</p>
              <p>Mon-Sat 9-5pm</p>
            </div>
    
            <div class="col-md-4">
              <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
              <p class="pt-2">sbindal1@mycentennialcollege.ca</p>
              <p class="pt-2">samridhibindal97@gmail.com</p>
              
            </div>
          </div>
    
        </div>
        <!--Grid column-->
    
      </div>
    
    </section>
    
        <% } %>