<!-- 

    File name: projects.ejs
    Created By: Samridhi Bindal
    Student ID: 301172178
    Created on: 13 February, 2021

-->

<!-- Projects Section -->

<% if (title == "Projects"){ %>
    <div class="card-body h-100">
        <h2  class="text-center"> Projects </h2>
        <p class="text-center"> Here is showcase my Skills! </p>
        
      </div>

    <div class="card mb-3">
        <img src="/Assets/Images/weather.jpg" class="card-img-top" style= "height: 50%; width : 50%" alt="...">
        <div class="card-body">
          <h5 class="card-title">Weather Master App</h5>
          <p class="card-text">This was a website developed using API where the weather conditions of a particluar area could be known by entering valid area in search bar.</p>
          <p class="card-text"><small>Technologies used are HTML, CSS,JavaScript, Node.js</small></p>
          
        </div>
      </div>
      <div class="card mb-3">
        <img src="/Assets/Images/Capture.JPG" class="card-img-top" style= "height: 50%; width : 50%" alt="...">
        <div class="card-body">
          <h5 class="card-title">Persidential Manifesto</h5>
          <p class="card-text">This was a portfolio website created a part of Presidential Elections of Entrepreneurship Cell of our University.</p>
          <p class="card-text"><small>Technologies used are HTML, CSS,JavaScript, Bootstrap and was hosted on Github.</small></p>
          <a href="https://samridhibindal.github.io/bato/index.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Check this out!</a>
        </div>
      </div>
      <div class="card mb-3">
        <img src="/Assets/Images/graphicdesign.jpg" class="card-img-top" style= "height: 50%; width : 50%" alt="...">
        <div class="card-body">
          <h5 class="card-title">Graphic Design Portfolio</h5>
          <p class="card-text">I worked for 3 years in creative department of Ecell and designed posters, digital posts, flexs and other materials for events.</p>
          <p class="card-text"><small>I am sound at Photoshop and Illustrator.</small></p>
        </div>
      </div>
  <% } %>