<!-- 

    File name: bottom_nav.ejs
    Created By: Samridhi Bindal
    Student ID: 301172178
    Created on: 13 February, 2021

-->

<!-- Footer Navigation Bar -->
  
<!-- Bottom Nav -->
<table class="table table-hover"></table>
<div data-role="footer" data-position="fixed">
  <h1>‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</h1>
</div>

<footer>
  <nav class="footer fixed-bottom navbar navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6>
    <a href='https://m.facebook.com/samridhibindal97'><button class="btn text-right p-3" style="background-color: DodgerBlue; 
      color: white;  
      cursor: pointer;"><i class="fab fa-lg fa-facebook-square"></i></button></a>
  
  <a href='https://instagram.com/i.m_sami?igshid=20pqr6ctexvo'><button class="btn text-right p-3" style="background-color: DodgerBlue; 
    color: white;  
    cursor: pointer;"><i class="fab fa-lg fa-instagram"></i></button></a>
  
  <a href='https://www.linkedin.com/in/samridhi-bindal-44b534159'><button class="btn text-right p-3" style="background-color: DodgerBlue; 
    color: white;  
    cursor: pointer;"><i class="fab fa-lg fa-linkedin"></i></button></a>
  
  <a href='https://github.com/SamridhiBindal06'><button class="btn text-right p-3" style="background-color: DodgerBlue; 
    color: white;  
    cursor: pointer;"><i class="fab fa-lg fa-github"></i></button></a>
  </nav>
</footer>


 
</footer>