<!-- Footer Navigation Bar -->


<footer class="bg-light text-center text-lg-start fixed-bottom ">
  
  <div class="text-left p-3 inline" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="#">Samridhi Bindal</a>
    <div class="text-right p-3">
      <a href='https://m.facebook.com/samridhibindal97'><button class="btn text-right p-3" style="background-color: DodgerBlue; 
    color: white;  
    cursor: pointer;"><i class="fab fa-lg fa-facebook-square"></i></button></a>

<a href='https://instagram.com/i.m_sami?igshid=20pqr6ctexvo'><button class="btn text-right p-3" style="background-color: DodgerBlue; 
  color: white;  
  cursor: pointer;"><i class="fab fa-lg fa-instagram"></i></button></a>

<a href='https://www.linkedin.com/in/samridhi-bindal-44b534159'><button class="btn text-right p-3" style="background-color: DodgerBlue; 
  color: white;  
  cursor: pointer;"><i class="fab fa-lg fa-linkedin"></i></button></a>

<a href='https://github.com/SamridhiBindal06'><button class="btn text-right p-3" style="background-color: DodgerBlue; 
  color: white;  
  cursor: pointer;"><i class="fab fa-lg fa-github"></i></button></a>
    
        </div>
  </div>
 
</footer>