<!-- 

    File name: error.ejs
    Created By: Samridhi Bindal
    Student ID: 301172178
    Created on: 13 February, 2021

-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
