<% if (title == "Services"){ %>


    <div class="card-body h-100">
        <h2  class="text-center"> Services </h2>
        <p class="text-center"> Happy to serve you with following skills! </p>
        
      </div>

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100" >
            <img src="/Assets/Images/sftdev.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Custom Software Development</h5>
              <p class="card-text">Get fully developed software customised according to you!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/Assets/Images/graphicdesign.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Graphic Designing</h5>
              <p class="card-text">Get complete graphic portfolio with unbeatable designs! </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/Assets/Images/webdev.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">Get world class responsive websites. Just a call away.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/Assets/Images/digital_marketing.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Digital Marketing</h5>
              <p class="card-text">Boost your social reach with us using SEO.</p>
            </div>
          </div>
        </div>
      </div>
  <% } %>